html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
}

ol,
ul {
    list-style: none;
}

.wrapper {
    width: 40%;
    margin: auto;
    margin-top: 30px;
}

.result {
    width: 100%;
    padding: 24px;
    background-color: black;
    border-radius: 12px;
    color: white;
    font-size: 4rem;
    height: 130px;
    display: flex;
    justify-content: right;
}

.operator {
    height: 80px;
    width: 160px;
    margin-top: 30px;
    background-color: #671233;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    width: 75%;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.box {
    background-color: #cfcfcf;
    border: none;
    height: 80px;
    width: 160px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.equalto {
    background-color: #367e7f;
    border: none;
    padding: 20px 0;
    width: 155px;
    border-radius: 10px;
    font-size: 3rem;
    cursor: pointer;
}

#clear {
    background-color: #391d13;
    color: #fff;
}